<div id="accardion" class="container">
123
	<div class="accardion">
		<div class="accardion__item">
			<div class="accardion__title" data-accardion-title="accardion1">Accardion-1</div>
			<div class="accardion__content active" data-accardion-content="accardion1">
				<div class="accardion__content-inner">Content 1</div>
			</div>
		</div>
		<div class="accardion__item">
			<div class="accardion__title" data-accardion-title="accardion2">Accardion-2</div>
			<div class="accardion__content" data-accardion-content="accardion2">
				<div class="accardion__content-inner">

				Content 2
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis modi excepturi, libero laudantium cum voluptates quidem assumenda, dolores quaerat ullam aspernatur. Nam nihil ipsam eaque eius repellendus. Excepturi, voluptas aperiam!
				</p>
				</div>
			</div>
		</div>
		<div class="accardion__item">
			<div class="accardion__title" data-accardion-title="accardion3">Accardion-3</div>
			<div class="accardion__content" data-accardion-content="accardion3">
				<div class="accardion__content-inner">Content 3</div>
			</div>
		</div>
		<div class="accardion__item">
			<div class="accardion__title" data-accardion-title="accardion4">Accardion-4</div>
			<div class="accardion__content" data-accardion-content="accardion4">
				<div class="accardion__content-inner">Content 4</div>
			</div>
		</div>
	</div>


</div>
