<div class="task">
      
      <div class="center">
        <h1>Карусель</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <ul id="carusel" class="carusel">
          <li class="slider1 carusel__item">
            <h2>Slider 1 Привет Назар</h2>
          </li>
          <li class="slider2 carusel__item">
            <h2>Slider 2 Привет 50 cent</h2>
          </li>
          <li class="slider3 carusel__item">
            <h2>Slider 3 Привет G umit</h2>
          </li>
          <li class="slider4 carusel__item">
            <h2>Slider 4</h2>
          </li>
          <li class="slider5 carusel__item">
            <h2>Slider 5</h2>
          </li>
          <li class="slider6 carusel__item">
            <h2>Slider 6</h2>
          </li>
          <li class="slider7 carusel__item">
            <h2>Slider 7</h2>
          </li>
          <li class="slider8 carusel__item">
            <h2>Slider 8</h2>
          </li>
        </ul>
        
       <div class="center">
          <button data-carusel="prev">Prev</button>
          <button data-carusel="next">Next</button>
       </div>
      </div>

    
    </div>
