<div class="container">
  <div class="search-box">
    <input type="search">
  </div>
  <button data-popup=".testt">input</button>
  <button data-popup=".gunit">50 cent</button>
</div>



<div class="testt hide">
  <input type="text">
<div class="close-modal">2</div>
</div>


<div class="gunit hide">
  <h1>Gunit</h1>
  <div class="close-modal">3</div>
  <p class="">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, facilis, id enim minus nostrum fugiat nobis vel perspiciatis quidem cum debitis voluptas expedita dolore perferendis pariatur omnis dolorum odio sit.
  </p>
  <img src="https://upload.wikimedia.org/wikipedia/commons/6/6e/G-UNIT.jpg" alt="">
</div>











